.e-card {
  margin: auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  min-height: 500px;
  border-radius: 16px;
  overflow: hidden;
  padding: 1.5em;
  display: grid;
  place-items: center end;
}

.wave {
  position: absolute;
  width: 640px;
  height: 870px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#9704ec);
}

.infotop {
  text-align: center;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.infotop .container {
  background: #f0f0f0;
  top: 0;
}

.title {
  font-size: 23px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.name {
  font-size: 16px;
  font-weight: 100;
  color: #ececec;
  font-weight: bold;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}